@namespace Blazorbrudi

<div @ref="@_containerRef" class="@GetContainerClass()">
    <div class="split-content--first split-content">
        @FirstContent
    </div>

    <div class="@GetSplitBarClass()" @onmousedown="StartResize" @onmousedown:preventDefault></div>

    <div class="split-content--second split-content">
        @SecondContent
    </div>
</div>

<style>
    .split-container {
        display: flex;
        height: 100%;
        overflow: hidden;
    }
    .split-container--horizontal {
        flex-direction: column;
    }
    .split-bar {
        cursor: col-resize;
        background-color: #ccc;
    }
    .split-bar--horizontal {
        height: 5px;
    }
    .split-bar--vertical {
        width: 5px;
    }
    .split-content {
        overflow-y: auto;
        padding: 10px;
        border: 1px solid #ccc;
    }
    .split-content--first {
        background-color: antiquewhite;
    }
    .split-content--second {
        background-color: lightsalmon;
    }
</style>
