@namespace Blazorbrudi

<div @ref="@_containerRef" class="split-container">
    <div id="left" class="split-content--first split-content">
        @ContentTop
    </div>

    <div id="bar" class="split-bar" @onmousedown="StartResize" @onmousedown:preventDefault></div>

    <div id="right" class="split-content--second split-content">
        @ContentBottom
    </div>
</div>

<style>
    .split-container {
        display: flex;
        height: 100%;
        overflow: hidden;
    }
    .split-bar {
        width: 5px;
        cursor: col-resize;
        background-color: #ccc;
    }
    .split-content {
        overflow-y: auto;
        padding: 10px;
        border: 1px solid #ccc;
    }
    .split-content--first {
        background-color: antiquewhite;
    }
    .split-content--second {
        background-color: lightsalmon;
    }
</style>
